main, .list-board{
    width: 50em;
}

main{
    height: 5em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    border-radius : 50em;

    background-color: rgba(0, 0, 0, 0.4);
}

input, button{
    
    border: none;
    border-bottom: 2.5px solid black;
}

input{
    width: 10em; 
    height: 3em;

    margin-left: 30%;

    background: none;

    transition: 0.9s ease-in-out;
}

.input:focus{
    width: 45em;
    margin-left : 1em;
    outline: none;
    transition: 0.9s ease-in-out;
}

button{
    width: 5em;
    height: 3.35em;

    background: none;

    opacity: 0;

    transition: 0.9s ease-in-out;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}