main, .list-board{
    width: 50em;
}

main{
    height: 5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, button{
    height: 3em;
}

input{
    width: 10em; 

    border: none;
    border-bottom: 2.5px solid black;

    background: none;


    transition: 1s ease-in-out;
}

.input:focus{
    width: 40em;
    outline: none;
    transition: 1s ease-in-out;
}

button{
    width: 5em;

    border: none;
    border-bottom: 2.5px solid black;

    background: none;

    opacity: 0;

    transition: 1s ease-in-out;
}